html, body {
  transition: 0.4s;
  margin: 0
}

input {
  border: 1px solid #eee;
  display: block;
  margin: 8px 0;
  padding: 8px 16px;
  width: calc(100% - 32px);
}

button {
  margin: 0 4px 0 0;
  padding: 8px 16px;
  border: none;
  background-color: #eee;
}

.sample-page {
  width: 100vw;
  height: 100vh;
}

.card {
  box-shadow: 0 0 4px #aaa;
  padding: 32px;
  margin: 32px;
  min-width: 300px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  padding: 16px;
}

p {
  white-space: pre-wrap;
  word-break: break-all
}

.row {
  display: flex;
  align-items: flex-start;
}

.label-bg {
  background-color: purple;
  padding: 4px 8px;
  margin: 4px 8px 4px 0;
  display: inline-block;
  border-radius: 4px;
  color: white;
}

.label-dsc-bg {
  background-color: orange;
  padding: 4px 8px;
  margin: 4px 8px 4px 0;
  display: inline-block;
  border-radius: 4px;
  color: white;
}

.label-dsc-flash {
  background-color: orange;
  padding: 4px 8px;
  margin: 4px 8px 4px 0;
  display: inline-block;
  border-radius: 4px;
  color: white;
  animation: flash 0.4s linear backwards;
}

@keyframes flash {
  from {
    background-color: cadetblue
  }
  to {
    background-color: orange
  }
}